
.calc-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* чтобы стрелка details выглядела нормально */
}

.calc-actions .btn-small {
    padding: 4px 10px;
    font-size: 12px;
}

.btn-delete {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
}

.btn-delete:hover {
    background-color: #ff7875;
}

.btn-pdf {
    background-color: #1890ff;
    color: white;
    margin-left: 6px;
    border: none;
    border-radius: 4px;
}

.btn-pdf:hover {
    background-color: #40a9ff;
}
